@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

/* ===========================
     Windows Compatibility Fixes
  =========================== */
@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }

    p,
    span,
    li,
    a {
        font-size: 0.95rem;
    }
}

:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* ::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
    background-color: #f9fafb;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2a408c;
    border-radius: 4px;
} */

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* scrollbar-width: none; */
}

/* Custom Scrollbar (apply class `custom-scrollbar` to show) */
.custom-scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    display: initial;
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Hide scrollbar */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}